/* Breakpoints MyBudget CSS Stylesheet */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .loginColumns {
      padding: 100px 50px 20px;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 240px;
    }
    .ibox {
        margin-bottom: 25px;
    }
    .outcomes, .chose-category, .lineChartContainer { margin-top:0; }
    .top-navigation .nav > li.active { background: #fff; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .wrapper.wrapper-content {
        padding: 20px;
    }
    .loginColumns {
      padding: 100px 20px 20px;
    }
    .tabs-container {
        margin-bottom: 25px;
    }
}
