<template name="targets">
	<div class="container">
		<h1>Listado de objetivos mensuales</h1>

		<div class="row">
	        <div class="col-lg-8">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                </div>
	                <div class="ibox-content">

	                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar..">

	                    <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
	                        <thead>
	                        <tr>
	                            <th>Mes</th>
	                            <th>Cantidad</th>
	                            <th>Puntos</th>
	                            <th data-sort-ignore="true">Acciones</th>
	                        </tr>
	                        </thead>
	                        <tbody>
		                        {{#each targets}}
			                        <tr class="gradeA">
			                            <td>{{getMonthName(month)}}</td>
			                            <td>{{amount}}</td>
			                            <td>{{points}}</td>
			                            <td>
			                            	<a href="#" title="Editar" class="text-primary edit" data-toggle="modal" data-target="#myBudgetModal" data-target-id="{{_id}}"><i class="fa fa-edit"></i></a> &nbsp;
			                            	<a href="#" title="Eliminar" class="text-primary delete" data-target-id="{{_id}}"><i class="fa fa-times"></i></a>
			                            </td>
			                        </tr>
		                        {{else}}
		                        	<tr><td colspan="4" class="text-center">No hay objetivos mensuales.</td></tr>
		                        {{/each}}
	                        </tbody>
	                        <tfoot>
		                        <tr>
		                            <td colspan="4">
		                                <ul class="pagination hide-if-no-paging pull-right"></ul>
		                            </td>
		                        </tr>
	                        </tfoot>
	                    </table>
	                </div>
	            </div>
	        </div>

	        <div class="col-lg-4">
	        	<div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5 id="addTarget">Agregar objetivo</h5>
	                </div>
	                <div class="ibox-content">
	                    {{>addTarget}}
	                </div>
	            </div>
            </div>

	    </div>
	</div>

	<!-- Include modal template -->
    {{> modal}}

</template>
