<template name="categoryChart">
	<div>
        <div class="pull-right">
            <select name="category" size="1" data-placeholder="Selecciona otra categor&iacute;a..." class="chosen-select form-control category-chart-select">
                <option value=""></option>
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <h3 class="font-bold no-margins">
            {{category.name}}
        </h3>
    </div>

    <div class="m-t-sm">

        <div class="row">
            <div class="col-md-4">
                <ul class="stat-list m-t-lg">
                    <li>
                        <h2 class="no-margins">{{formatCurrency currentBalance}}</h2>
                        <small>Mes actual</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 48%;"></div>
                        </div>
                    </li>
                    <li>
                        <h2 class="no-margins ">{{formatCurrency previousBalance}}</h2>
                        <small>Mes anterior</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-8">
                <div>
                    <canvas id="lineChart" height="195" width="463" style="width: 463px; height: 195px;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="m-t-md">
        <small class="pull-right">
            <i class="fa fa-clock-o"> </i>
            Ultimo movimiento {{lastEntry}}
        </small>
        <small>
            <strong>Promedio:</strong> {{formatCurrency getAverage}}
        </small>
    </div>
</template>
