<template name="dashboard">
	<h1>Dashboard</h1>

	<div class="row">

		<div class="col-md-4">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Total</span>
                    <h5>Balance</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins {{colored getBalance}}">{{formatCurrency getBalance}}</h1>
                    <p class="period">
                    	<strong>Per&iacute;odo:</strong>
                    	Desde el {{from}} al {{to}}.
                	</p>
                </div>
            </div>
		</div>

		{{> lastMonths}}

	</div>

	<div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    {{> categoryChart categories}}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            {{> dashboardTargets}}
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="tabs-container">
                <ul class="row nav nav-tabs">
                    <li class="col-xs-6 active"><a data-toggle="tab" id="show-tab-1" href="#tab-1">&Uacute;ltimos 12 meses</a></li>
                    <li class="col-xs-6"><a data-toggle="tab" id="show-tab-2" href="#tab-2">Objetivos mensuales</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            {{> lastMonthsChart}}
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            {{> monthlyTargetsChart}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agregar movimiento</h5>
                </div>
                <div class="ibox-content">
                    {{>addEntry categories}}
                </div>
            </div>
        </div>
    </div>

    <!-- Include modal template -->
    {{> modal}}

</template>
