<template name="entries">
	<div class="container">
		<h1>Listado de movimientos</h1>

		<div class="row">
	        <div class="col-lg-8">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                </div>
	                <div class="ibox-content">

	                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar..">

	                    <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
	                        <thead>
	                        <tr>
	                            <th>Fecha</th>
	                            <th>Debe</th>
	                            <th>Haber</th>
	                            <th>Categor&iacute;a</th>
	                            <th>Computable</th>
	                            <th>Valor</th>
	                            <th>Acciones</th>
	                        </tr>
	                        </thead>
	                        <tbody>
		                        {{#each entries}}
			                        <tr class="gradeA">
			                            <td>{{ formatDate date 'DD/MM/YYYY' }}</td>
			                            <td>{{#unless haber}}<i class="fa fa-check text-info"></i>{{/unless}}</td>
			                            <td>{{#if haber}}<i class="fa fa-check text-info"></i>{{/if}}</td>
			                            <td>{{categoryId}}</td>
			                            <td>{{#if countable}}<i class="fa fa-check text-info"></i>{{/if}}</td>
			                            <td>{{ formatCurrency value }}</td>
			                            <td>
			                            	<a href="#" title="Ver" class="text-primary view" data-toggle="modal" data-target="#myBudgetModal" data-entry-id="{{_id}}"><i class="fa fa-eye"></i></a> &nbsp;
			                            	<a href="" title="Editar" class="text-primary"><i class="fa fa-edit"></i></a> &nbsp;
			                            	<a href="" title="Eliminar" class="text-primary"><i class="fa fa-times"></i></a>
			                            </td>
			                        </tr>
		                        {{else}}
		                        	<tr><td colspan="7">No hay movimientos.</td></tr>
		                        {{/each}}
	                        </tbody>
	                        <tfoot>
		                        <tr>
		                            <td colspan="7">
		                                <ul class="pagination pull-right"></ul>
		                            </td>
		                        </tr>
	                        </tfoot>
	                    </table>
	                </div>
	            </div>
	        </div>

	        <div class="col-lg-4">
	        	<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="addEntry">Agregar movimiento</h5>
                </div>
                <div class="ibox-content">
                    {{>addEntry categories}}
                </div>
            </div>
	        </div>
	    </div>
    </div>

    <!-- Include modal tempalte -->
    {{> modal}}

</template>
