<template name="forgotPassword">
	<div class="loginColumns animated fadeInDown">

		<!-- FLASH MESSAGES -->
    	{{> flashMessages}}

        <div class="row">

            <div class="col-md-6">
                {{> welcome }}
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <p>Ingresa tu direcci&oacute;n de email y se te enviar&aacute; un email con un link para que restablezcas tu contrase&ntilde;a.</p>
                    <form class="m-t forgotPassword" role="form">
                        <div class="form-group {{errorClass 'email'}}">
                            <input type="email" name="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>

                        <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='login'}}">Login</a>

                        <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='join'}}">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>

        {{> blankFooter}}

    </div>
</template>
