<template name="resetPassword">
	<div class="loginColumns animated fadeInDown">

		<!-- FLASH MESSAGES -->
    	{{> flashMessages}}

        <div class="row">

            <div class="col-md-6">
                {{> welcome }}
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <p>Por favor, ingresa una nueva contrase&ntilde;a.</p>
                    <form class="m-t resetPassword" role="form">
                        <div class="form-group {{errorClass 'password'}}">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Contrase&ntilde;a" required="">
                        </div>
                        <div class="form-group {{errorClass 'confirm'}}">
                            <input type="password" name="confirm" class="form-control" placeholder="Confirmar Contrase&ntilde;a" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>

                        <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='join'}}">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>

        {{> blankFooter}}

    </div>
</template>
